ul {
  list-style-type: none;
}
ul li {
  color: white;
  padding-right: 40px;
}
body {
  background-color: #1b3936;
}
.line {
  width: 100%;
  height: auto;

  position: relative;
}
.line img {
  width: 80%;
  margin: 0 130px;
}
.line-icon {
  position: absolute;
  right: 40px;
  bottom: 425px;
}
.line-icon img {
  height: 90px;
}
.homeimg {
  height: 600px;
  position: absolute;
  top: 180px;
  left: 340px;
}
.info-text {
  color: #f9f6f6;
  font-family: boska;
}
.cosy {
  position: absolute;
  font-size: 220px;
  top: 25px;
  left: 30%;
}
.cabin {
  position: absolute;
  font-size: 220px;
  top: 200px;
  left: 40%;
  font-style: italic;
  color: #75ff69;
}
.in-the {
  position: absolute;
  font-size: 22px;
  top: 490px;
  left: 45%;
}
.woods {
  position: absolute;
  font-size: 220px;
  top: 410px;
  left: 25%;
}
.text {
  position: absolute;
  max-width: 590px;
  left: 30%;
  font-size: 16px;
  text-align: justify;
  top: 790px;
}
.all {
  background-image: url(./images/BG.png);
  background-size: cover;
  display: flex;
}
.information-text {
  max-width: 400px;
  text-align: justify;
  margin-right: 400px;
  margin-top: 15px;
}
.image-text {
  margin-left: 100px;
  margin-top: 70px;
}

.infoimg {
  margin-bottom: 40px;
}
.imgtext {
  margin-top: 70px;
}
.forestimg img {
  width: 1260px;
  height: 850px;
}
.angry-grid {
  display: grid;

  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  gap: 0px;
}

#item-0 {
  grid-row-start: 2;
  grid-column-start: 1;

  grid-row-end: 3;
  grid-column-end: 2;
  margin-left: 40px;
}
#item-1 {
  grid-row-start: 1;
  grid-column-start: 4;

  grid-row-end: 4;
  grid-column-end: 5;
  margin-top: 80px;
}
#item-2 {
  grid-row-start: 4;
  grid-column-start: 1;

  grid-row-end: 7;
  grid-column-end: 2;
  margin-left: 40px;
}
#item-3 {
  grid-row-start: 4;
  grid-column-start: 4;

  grid-row-end: 8;
  grid-column-end: 5;
  margin-top: 15px;
}
#item-4 {
  grid-row-start: 6;
  grid-column-start: 1;

  grid-row-end: 6;
  grid-column-end: 5;
}
#item-4 img {
  /* max-width: 1260px !important; */
}
.about {
  position: relative;
}
.textim {
  position: absolute;
  top: 350px;
  left: 160px;
}
.textim img {
  width: 900px;
  height: 850px;
}
.unique {
  background-image: url(./images/BlG.jpg);

  /* position: absolute;
   top: 1800px ;
 width: 1260px !important; */
}
.unique h1 {
  font-family: boska;
  font-size: 60px;
  font-weight: 400;
  padding-top: 80px;
  margin-left: 100px;
}
.rooms {
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
  align-items: center;
  padding-bottom: 20px;
}
.form {
  margin: 40px 50px;
  background-image: url(./images/fromBG.jpg);
  height: 700px;
}
.form-text {
  padding-top: 150px;
}
.form h1 {
  font-family: boska;
  font-size: 60px;
  font-weight: 400;
  color: #f9f6f6;
  text-align: center;
  margin-bottom: 20px;
}
.offer {
  color: #f9f6f6;
  text-align: center;
  margin-bottom: 50px;
}
.form form {
  text-align: center;
}
.input {
  position: relative;
  height: 35px;
  width: 500px;
  padding: 5px;
}
.btn {
  position: absolute;
  left: 780px;
  height: 34px;
  padding: 1px 17px;
  border: none;
  border-radius: 0%;
  background-color: #75ff69;
}
.testimonial {
  background-image: url(./images/BG.png);
  width: 1300px;
  padding-bottom: 100px;
}
.testimonial-img {
  display: flex;
  justify-content: space-between;
  margin-top: 160px;
  margin-left: 50px;
}
.testimonial-img img {
  height: 400px;
  width: 300px;
  padding-bottom: 30px;
}
.testimonial-text {
  color: rgb(3, 1, 1);
  display: flex;
  justify-content: space-between;
  text-align: justify;
}
.testi-h1 {
  font-size: 68px;
  font-family: boska;
  margin-left: 80px;
}
.testi-txt {
  margin-top: 120px;
  margin-left: 60px;
  margin-right: 60px;
  font-family: switzer;
  font-weight: 300;
}
.testimonial {
  position: absolute;
}
.im {
  position: relative;
  top: 600px;
  left: 30px;
}
.im1 {
  position: relative;
  top: 490px;
  left: 400px;
}
.im2 {
  position: relative;
  top: 380px;
  left: 800px;
}
.im3 {
  position: relative;
  top: 60px;
  right: 200px;
}
.im4 {
  position: relative;
  top: 100px;
  right: 800px;
}
.im4 {
  width: 1250px;
}
.footer {
  position: relative;
  top: 100px;
  right: 800px;
  display: flex;
  justify-content: space-evenly;
  background-image: url(./images/BG.png);
  padding-bottom: 20px;
}
.btnn {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 400;
  color: #010000;
  cursor: pointer;
  margin-top: 20px;
}
/* for mobile screen */
@media only screen and (max-width: 600px) {
  body {
    background-color: #1b3936;
  }
  nav {
    width: 400px;
  }

  ul li {
    padding-right: 15px;
    font-size: 12px;
  }
  .Logo {
    height: 25px;
    padding-left: 10px;
  }
  .line {
    width: 100%;
    height: auto;

    position: relative;
  }
  .line img {
    width: 90%;
    margin: 0 20px;
  }
  .line-icon {
    position: absolute;
    right: 10px;
    bottom: 200px;
  }
  .line-icon img {
    height: 30px;
  }
  .homeimg {
    height: 300px;
    position: absolute;
    top: 100px;
    left: 90px;
  }
  .info-text {
    color: #f9f6f6;
    font-family: boska;
    font-size: 12px;
  }
  .cosy {
    position: absolute;
    font-size: 220px;
    top: 50px;
    left: 30%;
    font-size: 78px;
  }
  .cabin {
    position: absolute;
    font-size: 220px;
    top: 130px;
    left: 45%;
    font-style: italic;
    color: #75ff69;
    font-size: 78px;
  }
  .in-the {
    position: absolute;
    font-size: 22px;
    top: 230px;
    left: 48%;
    font-size: 18px;
  }
  .woods {
    position: absolute;
    font-size: 220px;
    top: 210px;
    left: 30%;
    font-size: 78px;
  }
  .text {
    position: absolute;
    max-width: 590px;
    left: 20%;
    font-size: 16px;
    text-align: justify;
    top: 320px;
    font-size: 10px;
    max-width: 300px;
  }
  .all {
    background-image: url(./images/BG.png);
    background-size: cover;
    width: 600px !important;
    display: flex;
    flex-direction: column;
  }
  .information-text {
    width: 300px;
    text-align: justify;
    margin-right: 400px;
    margin-top: 15px;
  }
  .image-text {
    margin-left: 100px;
    margin-top: 70px;
  }
  .image-text img {
    margin-left: 60px;
  }
  .infoimg {
    margin-bottom: 40px;
  }
  .imgtext {
    margin-top: 70px;
    margin-left: 100px;
  }
  .forestimg img {
    width: 600px;
    height: 600px;
  }
  /*  
    */
  .angry-grid {
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 0px;
  }

  #item-0 {
    grid-row-start: 2;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 2;
    margin-left: 40px;
  }
  #item-0 img {
    width: 150px !important;
  }
  #item-1 img {
    width: 150px !important;
    margin-right: 10px;
  }
  #item-2 img {
    width: 150px !important;
  }
  #item-3 img {
    width: 150px !important;
  }
  #item-1 {
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 4;
    grid-column-end: 5;
    margin-top: 80px;
  }
  #item-2 {
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 7;
    grid-column-end: 2;
    margin-left: 40px;
  }
  #item-3 {
    grid-row-start: 4;
    grid-column-start: 4;

    grid-row-end: 8;
    grid-column-end: 5;
    margin-top: 15px;
  }
  #item-4 {
    grid-row-start: 6;
    grid-column-start: 1;

    grid-row-end: 6;
    grid-column-end: 5;
  }
  #item-4 img {
    width: 600px !important;
  }
  .about {
    position: relative;
  }
  .abouttext {
    position: absolute;
    top: 100px;
    left: 200px;
    color: #75ff69;
    font-family: switzer;
    font-weight: 200;
    font-size: 14px;
  }
  .textim {
    position: absolute;
    top: 200px;
    left: 60px;
  }
  .textim img {
    width: 300px;
    height: 450px;
  }
  .unique {
    background-image: url(./images/BlG.jpg);
  }
  .unique h1 {
    font-family: boska;
    font-size: 60px;
    font-weight: 400;
    padding-top: 80px;
    margin-left: 100px;
  }
  .rooms {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    align-items: center;
  }

  .room1 {
    margin-bottom: 15px;
  }
  .input {
    position: relative;
    height: 35px;
    width: 200px;
    padding: 5px;
    margin-right: 80px;
  }
  .btn {
    position: absolute;
    left: 290px;
    height: 34px;
    padding: 1px 17px;
    border: none;
    border-radius: 0%;
    background-color: #75ff69;
  }
  .testimonial {
    background-image: url(./images/BG.png);
    width: 500px;
  }
  .testimonial-img {
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    margin-left: 120px;
    padding-bottom: 500px;
  }
  .testimonial-img img {
    height: 400px;
    width: 300px;
  }
  .testimonial-text {
    color: rgb(3, 1, 1);
  }
  .testi-h1 {
    font-size: 18px;
    width: 400px;
    font-family: boska;
    margin-left: 20px;
    margin-top: 90px;
  }
  .testi-txt {
    margin-top: 120px;
    margin-left: 60px;
    margin-right: 60px;
    font-family: switzer;
    font-weight: 300;
    font-size: 14px;
  }
  .testimonial {
    position: absolute;
  }
  .im {
    position: relative;
    top: 600px;
    left: 30px;
  }
  .im1 {
    position: relative;
    top: 890px;
    left: 30px;
  }
  .im2 {
    position: relative;
    top: 1180px;
    left: 30px;
  }
  .im3 {
    position: relative;
    top: 80px;
    left: 185px;
  }
  .footer {
    position: relative;
    top: 100px;
    right: 20px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(./images/BG.png);
    padding-bottom: 20px;
  }
  .footer img {
    width: 120px;
    height: 150px;
  }
  .btnn {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 400;
    color: #010000;
    cursor: pointer;
    margin-top: 20px;
  }
}
